@font-face {
    font-family: Montserrat;
    src: url(../@font-face/Montserrat/static/Montserrat-Medium.ttf);
    font-weight: lighter;
    font-style: normal;
}


@font-face {
    font-family: Montserrat;
    src: url(../@font-face/Montserrat/static/Montserrat-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Montserrat;
    src: url(../@font-face/Montserrat/static/Montserrat-Light.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Fraunces;
    src: url(../@font-face/Fraunces/static/Fraunces/Fraunces-Bold.ttf);
    font-weight: bold;
    font-style: normal;
} 


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

*{
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(30, 38%, 92%);
}

.container{
    display:flex;
    justify-content: center;
    border-radius: 10px;
}

@media screen and (max-width: 700px) {
    .container{
        display: flex;
        flex-direction: column;
    }
    .body{
        height: 50p;
    }
}

/* .container >div {
    margin:10px
    
} */

img{
    width: 260px ;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.right-container{
    background-color: hsl(0, 0%, 100%);
    width: 250px;
    padding-left: 20px;
    align-items: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    /* display: flex; */
    /* justify-content: center; */
}

.proname {
    color: hsl(212, 21%, 14%);
    font-family: Fraunces;
    font-size: 35px;
}

p{
    color: hsl(228, 12%, 48%);
    font-family: Montserrat;
    font-size: 14px;
    line-height: 1.5;
}
.prices{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.perfume {
    align-items: center;
    font-family: Montserrat;
    font-weight: lighter;
    letter-spacing: 7px;
}

.og-price{
    font-family: Montserrat;
    font-weight: normal;
}

.discount-price{
    font-family: Fraunces;
    color: hsl(158, 36%, 37%);
}

.cart{
    background-color: hsl(158, 36%, 37%);
    font-family: Montserrat;
    color: #fff;
    padding: 15px;
    margin-right: 15px;
    text-align: center;
    border-radius: 7px;

}

footer {
    position: absolute;
    bottom: 0;
    align-items: center;
    justify-content: center;
}


   
